<header>
  <div class="contenedor">
    <nav class="menu">
      <a href="home/#acerca">Acerca de</a>
      <a href="home/#trabajo">Trabajos</a>
      <a href="home/#redes">Contacto</a>
    </nav>

    <div class="contenedor-text">
      <div class="texto">
        <h1 class="nombre">Angel Gámez</h1>
        <h2 class="profesion">Desarrollador Front-End</h2>
      </div>
    </div>
  </div>
</header>

<section id="acerca" class="main">
  <section class="acerca-de">
    <div class="contenedor">
      <div class="foto">
        <img
          src="../assets/foto.png"
          width="115"
          height="115"
          alt="Angel Gamez Developer"
        />
      </div>
      
      <div class="texto">
        <h3  class="titulo">Acerca de</h3>
        <p>
          <span class="bold">
            Ingeniero de sistemas y técnico en diseño gráfico,</span
          >
          con habilidades en HTML, CSS, BOOTSTRAP, JavaScript, desarrollo web en Angular.
          Desarrollo movil bajo Flutter y Dart, elaboración de Mackups en Adobe Xd y Figma. 
          También en los programas Photoshop, ilustrator y Premiere, además Facebook ADS Youtube, Google. 
          Soy una persona reativa, con habilidades para desarrollar trabajo en equipo, con
          voluntad para aprender continuamente. Experiencia en el manejo del
          diseño y marketing digital.
        </p>
      </div>
    </div>
  </section>

  

  <section id="trabajo" class="trabajos">
    <div class="contenedor">
      <h3  class="titulo">Trabajos</h3>
      <div class="contenedor-trabajos">


        <div class="trabajo">
          <div class="thumb">
            <a href="/UI">
              <img src="../assets/trabajos/3.jpg" alt="Fotografía" />
            </a>
          </div>
          <div class="descripcion">
            <p class="nombre">Proyectos de:</p>
            <p class="categoria">Adobe Xd, Dart y Flutter</p>
          </div>
        </div>

        <div class="trabajo">
          <div class="thumb">
            <a href="/diseño-grafico">
              <img src="../assets/trabajos/1.jpg" alt="Diseño Gráfico" />
            </a>
          </div>
          <div class="descripcion">
            <p class="nombre">Proyectos de:</p>
            <p class="categoria">Diseño Gráfico</p>
          </div>
        </div>

        <div class="trabajo">
          <div class="thumb">
            <a href="/restaurafotos">
              <img src="../assets/trabajos/2.jpg" alt="Restauración de fotos" />
            </a>
          </div>
          <div class="descripcion">
            <p class="nombre">Proyectos de:</p>
            <p class="categoria">Restauración de fotos</p>
          </div>
        </div>

     

        <div class="trabajo">
          <div class="thumb">
            <a href="/desarrollo-Angular">

            <img src="../assets/trabajos/4.jpg" alt="Angular y Node.js" />
          </a>

          </div>
          <div class="descripcion">
            <p class="nombre">Proyectos de:</p>
            <p class="categoria">Angular y Node.js</p>
          </div>
        </div>

        <div class="trabajo">
          <div class="thumb">
            <img src="../assets/trabajos/5.jpg" alt="HTML - CSS - js - tsc" />
          </div>
          <div class="descripcion">
            <p class="nombre">Proyectos de:</p>
            <p class="categoria">HTML - CSS - js - tsc</p>
          </div>
        </div>

        <div class="trabajo">
          <div class="thumb">
            <img src="../assets/trabajos/6.jpg" alt="HTML - CSS - js - tsc" />
          </div>
          <div class="descripcion">
            <p class="nombre">Proyectos de:</p>
            <p class="categoria">HTML - CSS - js - tsc</p>
          </div>
        </div>

        <div class="trabajo">
          <div class="thumb">
            <img src="../assets/trabajos/7.jpg" alt="HTML - CSS - js - tsc" />
          </div>
          <div class="descripcion">
            <p class="nombre">Proyectos de:</p>
            <p class="categoria">HTML - CSS - js - tsc</p>
          </div>
        </div>

        <div class="trabajo">
          <div class="thumb">
            <img src="../assets/trabajos/8.jpg" alt="HTML - CSS - js - tsc" />
          </div>
          <div class="descripcion">
            <p class="nombre">Proyectos de:</p>
            <p class="categoria">HTML - CSS - js - tsc</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<footer>
  <section class="contacto">
    <div class="contenedor">
      <h3 class="titulo">Contacto</h3>
      <form class="formulario" action="">
        <input type="text" placeholder="Nombre" name="nombre" />
        <input type="email" placeholder="Correo" name="correo" />
        <textarea placeholder="Mensaje" name="mensaje"></textarea>
        <input class="boton" type="submit" value="Enviar" />
      </form>
    </div>
  </section>

  <section id="redes" class="redes-sociales">
    <div class="contenedor">
      <a href="#" class="twitter"> <i class="fa-brands fa-twitter"> </i> </a>
      <a href="#" class="facebook"> <i class="fa-brands fa-facebook"></i> </a>
      <a href="#" class="youtube"> <i class="fa-brands fa-youtube"></i> </a>
      <a href="#" class="github"> <i class="fa-brands fa-github"></i> </a>
      <a href="#" class="instagram"> <i class="fa-brands fa-instagram"></i> </a>
    </div>
  </section>
</footer>
