<header>
  <div class="contenedor">
    <nav class="menu">
      <a href="">Inicio</a>
      <a href="desarrollo-Angular/#proyectos">Proyectos</a>
      <a href="">Redes sociales</a>
    </nav>

    <div class="contenedor-text">
      <div class="texto">
        <h1 class="nombre">Angel Gámez</h1>
        <h2 class="profesion">Ingeniero de sistemas</h2>
      </div>
    </div>
  </div>
</header>

<section class="main">
  <div class="acerca-de">
    
    <div class="contenedor">
      <h3 class="titulo">Presentación</h3>
      <p class="texto">
        Proyectos implementando conocimientos en HTML, CSS, SCSS, JavaScript,
        TypeScript, integrados en el Framework de Angular
      </p>
    </div>
    
    <div id="proyectos" class="contenedor-proyectos">
      <h3  class="titulo">Proyectos</h3>
      <button class="  btn btn-outline-primary mr-2"><a href="desarrollo-Angular/crud">CRUD</a></button>
      <button class="  btn btn-outline-primary mr-2"><a href="desarrollo-Angular/formulario">Formulario con validación</a></button>
      <!-- <button class="  btn btn-outline-primary mr-2"><a href="desarrollo-Angular/presupuesto">Presupuesto</a></button> -->
      <button class="  btn btn-outline-primary mr-2"><a href="desarrollo-Angular/table">Tabla Angular Maternial</a></button>
    
    </div>
  </div>
</section>




<footer>
  <section class="contacto">
    <div class="contenedor">
      <h3 class="titulo">Contacto</h3>
      <form class="formulario" action="">
        <input type="text" placeholder="Nombre" name="nombre" />
        <input type="email" placeholder="Correo" name="correo" />
        <textarea placeholder="Mensaje" name="mensaje"></textarea>
        <input class="boton" type="submit" value="Enviar" />
      </form>
    </div>
  </section>

  <section id="redes" class="redes-sociales">
    <div class="container">
      <a href="#" class="twitter"> <i class="fa-brands fa-twitter"> </i> </a>
      <a href="#" class="facebook"> <i class="fa-brands fa-facebook"></i> </a>
      <a href="#" class="youtube"> <i class="fa-brands fa-youtube"></i> </a>
      <a href="#" class="github"> <i class="fa-brands fa-github"></i> </a>
      <a href="#" class="instagram"> <i class="fa-brands fa-instagram"></i> </a>
    </div>
  </section>
</footer>
