<header>
  <div class="container">
    <nav class="menu">
      <a href="">Inicio</a>
      <a href="">Proyectos</a>
      <a href="">Redes sociales</a>
    </nav>

    <div class="container-text">
      <div class="texto">
        <h1 class="nombre">Angel Gámez</h1>
        <h2 class="profesion">Ingeniero de sistemas</h2>
      </div>
    </div>
  </div>
</header>


<div class="presentacion">
  <h3 class="titulo">Presentación</h3>
  <p>Proyectos implementando conocimientos en 
     HTML, CSS, SCSS, JavaScript, TypeScript, integrados en el Framework de Angular</p>
</div>

<section class="main">
  <h3 class="titulo">Proyectos</h3>
  <div class="container">
    
  </div>
</section>
