
<header>
    <nav class="contenedor">
      <div class="menu">
        <a href="">Home</a>
        <a href="UI/#megac">Trabajos</a>
        <a href="UI/#redes">Redes sociales</a>

      </div>
    </nav>
  
    <div class="contenedor-text">
      <div class="texto">
        <h1 class="nombre">Angel Gámez</h1>
        <h2 class="profesion">Desarrollador UI</h2>
      </div>
    </div>
  </header>
  
  <div class="presentacion">
    <h3 class="titulo">Presentacion</h3>
    <p>
      Elaboración de Mackups, a travez de Adobe xD aplicando tecnicas avanzadas y creativas.
      Analizando las necesidades de los clientes para ser ejecutadas, desarrolladas y
      retroalimentadas, A travez del del lenguaje de programación Flutter y el marco de código abierto Flutter
    </p>
  </div>
  
  <div class="main">
    <div class="trabajos">
      <div id="megac" class="megacapp">
        <h2 class="titulo">Megac App</h2>
        <div class="contenido">
            <video src="../../../assets/AddobexD/megac.mp4" width="840" height="680" controls></video>
            <!-- <img src="../../../assets/diseños/restaurante/2.jpg" />
              <img src="./../../assets/diseños/restaurante/3.jpg" /> -->
              <h5><a href="https://xd.adobe.com/view/922265d9-1633-43cc-9c0e-7c091ab8d4e8-c771/screen/9873d215-1c43-4c21-afc7-5ef7f7053aec?fullscreen">Link de Xd: https://xd.adobe.com/view/922265d9-1633-43cc-9c0e-7c091ab8d4e8-c771/screen/9873d215-1c43-4c21-afc7-5ef7f7053aec?fullscreen </a></h5>
            </div>
      </div>
    </div>
    <div class="trabajos">
      <div id="ferreteria" class="ferreterias">
        <h2 class="titulo">Megac App</h2>
        <div class="contenido">
            <video src="../../../assets/AddobexD/ferreteria.mp4" width="840" height="680" controls></video>
            <!-- <img src="../../../assets/diseños/restaurante/2.jpg" />
              <img src="./../../assets/diseños/restaurante/3.jpg" /> -->
              <h5><a href="https://xd.adobe.com/view/c8ceb7a6-debb-4a59-940c-e4ad43e75b91-9d9d/?fullscreen">Link de Xd: https://xd.adobe.com/view/c8ceb7a6-debb-4a59-940c-e4ad43e75b91-9d9d/?fullscreen </a></h5>
            </div>
      </div>
    </div>
  </div>
  


  <footer>
    <section class="contacto">
      <div class="contenedor">
        <h3 class="titulo">Contacto</h3>
        <form class="formulario" action="">
          <input type="text" placeholder="Nombre" name="nombre" />
          <input type="email" placeholder="Correo" name="correo" />
          <textarea placeholder="Mensaje" name="mensaje"></textarea>
          <input class="boton" type="submit" value="Enviar" />
        </form>
      </div>
    </section>
  
    <section id="redes" class="redes-sociales">
      <div class="contenedor">
        <a href="#" class="twitter"> <i class="fa-brands fa-twitter"> </i> </a>
        <a href="#" class="facebook"> <i class="fa-brands fa-facebook"></i> </a>
        <a href="#" class="youtube"> <i class="fa-brands fa-youtube"></i> </a>
        <a href="#" class="github"> <i class="fa-brands fa-github"></i> </a>
        <a href="#" class="instagram"> <i class="fa-brands fa-instagram"></i> </a>
      </div>
    </section>
  </footer>
  
  