<header>
  <div class="contenedor">
    <nav class="menu">
      <a href="">Home</a>
      <a href="restaurafotos/#trabajos">Trabajos</a>
      <a href="restaurafotos/#redes-sociales">Redes sociales</a>
    </nav>
  </div>

  <div class="contenedor-text">
    <div class="texto">
      <h1 class="nombre">Angel Gámez</h1>
      <h2 class="proesion">Restaurador fotográfico</h2>
    </div>
  </div>
</header>

<div class="presentacion">
  <h3 class="titulo">Presentación</h3>
  <p>
    Restauración de fotografias por medios digitales, inicialmente escaneados en
    alta resolución, aplicando técnicas avanzadas en Photoshop. Enfocado a
    mejorar la calidad de la imagen, la calidad de los colores, reconstruir
    partes de los personajes de las fotografías,
  </p>
</div>

<section class="main">
  <h3 id="trabajos" class="titulo">Trabajos</h3>
  <div class="contenedor">
    <div class="cuadro1">
      <div class="foto"></div>
      <div class="caracteristicas">
        <h2>Restauración de foto altamente deteriorada</h2>
        <p>Foto restaurada bajo las herramientas de Photoshop</p>
      </div>
    </div>

    <div class="cuadro2">
      <div class="caracteristicas">
        <h2>Restauración de foto altamente deteriorada</h2>
        <p>Foto restaurada bajo las herramientas de Photoshop</p>
      </div>
      <div class="foto"></div>
    </div>

    <div class="cuadro3">
      <div class="foto"></div>
      <div class="caracteristicas">
        <h2>Restauración de foto altamente deteriorada</h2>
        <p>Foto restaurada bajo las herramientas de Photoshop</p>
      </div>
    </div>

    <div class="cuadro4">
      <div class="caracteristicas">
        <h2>Restauración de foto altamente deteriorada</h2>
        <p>Foto restaurada bajo las herramientas de Photoshop</p>
      </div>
      <div class="foto"></div>
    </div>

    <div class="cuadro5">
      <div class="foto"></div>
      <div class="caracteristicas">
        <h2>Restauración de foto altamente deteriorada</h2>
        <p>Foto restaurada bajo las herramientas de Photoshop</p>
      </div>
    </div>

    <div class="cuadro6">
      <div class="caracteristicas">
        <h2>Restauración de foto altamente deteriorada</h2>
        <p>Foto restaurada bajo las herramientas de Photoshop</p>
      </div>
      <div class="foto"></div>
    </div>

    <div class="cuadro7">
      <div class="foto"></div>
      <div class="caracteristicas">
        <h2>Restauración de foto altamente deteriorada</h2>
        <p>Foto restaurada bajo las herramientas de Photoshop</p>
      </div>
    </div>

    <div class="cuadro8">
      <div class="caracteristicas">
        <h2>Restauración de foto altamente deteriorada</h2>
        <p>Foto restaurada bajo las herramientas de Photoshop</p>
      </div>
      <div class="foto"></div>
    </div>
  </div>
</section>

<footer id="redes-sociales">
  <section class="redes-sociales">
    <div class="contenedor">
      <a href="https://twitter.com/_restaurafotos" class="twiter"><i class="fa-brands fa-twitter"> </i></a>
      <a href="https://www.facebook.com/RestauraFotoo" class="facebook"><i class="fa-brands fa-facebook"></i> </a>
      <a href="https://www.instagram.com/_restaurafotos/?fbclid=IwAR0cLsjEtsWKqa8i1u85lPj5J93YyBnUcGB5SkqEfVlCeHe_YRcFDcudPYY6" class="instagram"> <i class="fa-brands fa-instagram"></i> </a>
      <a href="https://www.tiktok.com/@restaurafotoo" class="tiktok"><i class="fa-brands fa-tiktok"></i></a>
    </div>
  </section>
</footer>
